<!DOCTYPE html>
<html>
<head>
  <title>EsteticaNegrete</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="head-banner">
    <%= image_tag('banner.jpg')%>
  </div>
  <%= render :partial => "/layouts/messages" %>
  <br>
  <div class="row">
    <div class="span3">
      <ul id="menu-lateral" class="nav nav-list">
        <li class="home"><a href=<%= root_url %>>Home</a></li>
        <li class="nav-header">Te ofrecemos</li>
        <li class="prp"><a href=<%= content_url(:content => 'prp')  %>>PRP</a></li>
        <li class="acido_hialuronico"><a href=<%= content_url(:content => 'acido_hialuronico') %>>Ácido Hialurónico</a></li>
        <li class="toxina_butolinica"><a href=<%= content_url(:content => 'toxina_butolinica')  %>>Toxina Butolínica</a></li>
        <li class="divider"></li>
        <li class="contact"><a href= <%= contact_url %>>Contáctanos</a></li>
      </ul>
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
</div>

</body>

</html>
